<footer>
  <p>Connect with me:</p>
  <ul class="social-links">
    {% if site.social_links.github %}
      <li><a href="{{ site.social_links.github }}" target="_blank">GitHub</a></li>
    {% endif %}
    {% if site.social_links.twitter %}
      <li><a href="{{ site.social_links.twitter }}" target="_blank">Twitter</a></li>
    {% endif %}
    {% if site.social_links.linkedin %}
      <li><a href="{{ site.social_links.linkedin }}" target="_blank">LinkedIn</a></li>
    {% endif %}
    {% if site.social_links.email %}
      <li><a href="{{ site.social_links.email }}">Email</a></li>
    {% endif %}
  </ul>
</footer>
